* text=auto eol=lf

*.c text working-tree-encoding=UTF-8 eol=lf
*.cc text working-tree-encoding=UTF-8 eol=lf
*.cpp text working-tree-encoding=UTF-8 eol=lf
*.h text working-tree-encoding=UTF-8 eol=lf
*.hpp text working-tree-encoding=UTF-8 eol=lf
*.ino text working-tree-encoding=UTF-8 eol=lf
*.md text working-tree-encoding=UTF-8 eol=lf
